html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden; 
    font-family: 'Roboto', sans-serif;
}

.home {
    padding-top: 70px; 
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
}

.main-section {
    text-align: center;
    padding: 2rem;
}

.clubinar {
    color: #8734d8;
    font-weight: bold;
}

.description {
    color: #5e3c89;
    margin-bottom: 2rem;
}

.botão-club {
    background-color: #350052;
    color: #ffffff;
    text-transform: none;
    border: none;
}

.botão-club:hover {
    background-color: #4f006e;
}

footer {
    padding: 1rem;
    background-color: #ffffff;
    color: #8734d8;
    text-align: center;
}

