/* Estilos globais */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f5fc;
  }
  
  /* Sidebar */
  .sidebar {
    width: 20%;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    height: 100vh;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 15px;
    font-size: 16px;
    color: #7d29d9;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    text-decoration: underline;
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar {
    background-color: #f3eaf7;
    border-radius: 25px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    width: 60%;
  }
  
  .search-bar input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    background-color: transparent;
    padding-left: 10px;
  }
  
  .search-bar input::placeholder {
    color: #bfa6d9;
  }
  
  /* Cards */
  .card {
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
  }
  
  .card img {
    width: 100%;
    border-radius: 8px;
  }
  
  .card button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #7d29d9;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .card button:hover {
    background-color: #6822ba;
  }
  